# qBittorrent Environment Variables

# User ID for file permissions
PUID=1000

# Group ID for file permissions
PGID=1000

# Timezone for the container
TZ=America/Toronto

# Static IP address for the container on the network
STATIC_IP=172.16.40.100

# Static MAC address for the container
STATIC_MAC=02:00:00:00:00:01

# Network parent interface for macvlan
NETWORK_PARENT=eth0

# Network subnet for macvlan (e.g., 172.16.40.0/24)
NETWORK_SUBNET=172.16.40.0/24

# IP range for the container on the network
NETWORK_IP_RANGE=172.16.40.100/32

# Network gateway
NETWORK_GATEWAY=172.16.40.1
